page-size {
  .size-page{
    background-image: url('../assets/imgs/background-elige-tu-talla.png');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .page-home{
    //background: #ffe6e6;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .div-two{
    height: 40px;
    width: 40px;
    background: black;
    color: white;
    /* font-size: 20px; */
    position: relative;
    border-radius: 30px;
  }
  .span-two{
    text-align: center;
    position: absolute;
    margin-left: 22%;
    margin-top: -6%;
    font-size: 40px;
  }
  .p-select-two{
    font-size: 30px;
    color: pink;
    margin-top: 4px;
    margin-left: -12%;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 21px;
  }
  .test-car{
    position: absolute;
    z-index: 10;
    left: 76%;
    top: -73px;
  }
  .p-checkout{
    position: absolute;
    margin-top: -59%;
    margin-left: 30%;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
  }
  .p-help{
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
  }
}
