<!--
  Generated template for the SizePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page-home" [ngStyle]="{'background-image':'url('+url_image+'/images/configuration/'+background}" padding>
  <ion-row style="margin-top: 15%;">
    <!--<ion-col col-3>
      <div class="div-two">
        <span class="span-two">4</span>
      </div>
    </ion-col>
    <ion-col col-9>
      <p class="p-select-two">ELIGE</p>
      <p class="p-select-two">TALLA</p>
    </ion-col>-->
  </ion-row>
  <div style="position: relative;">
    <div class="test-car">
      <img *ngIf="this.check!=undefined" (click)="checkout()" style="width:65%;" src="../../assets/imgs/carrito.png">
      <p *ngIf="this.check!=undefined" class="p-checkout">{{this.check}}</p>
      <p *ngIf="this.check == undefined" class="p-checkout">{{0}}</p>
    </div>
  </div>
<ion-grid>
  <ion-row>
    <!--<ion-col *ngFor="let item of items" col-6 no-padding>
      <ion-card>
        <ion-row>
          <p>{{item.description}}</p>
        </ion-row>
      </ion-card>
    </ion-col>-->
    <ion-col style="text-align: center;" *ngFor="let item of sizes" col-6 no-padding>
      <img style="width: 65%;" *ngIf="item.talla == 'Bebes 0-3 meses'" src="../../assets/imgs/0-3-meses.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Bebes 3-6 meses'" src="../../assets/imgs/3-6meses.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Bebes 6-12 meses'" src="../../assets/imgs/6-12-meses.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Bebes 12-24 meses'" src="../../assets/imgs/12-24-meses.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == '1-3 años'" src="../../assets/imgs/1-3anos.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == '4-6 años'" src="../../assets/imgs/4-6anos.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == '7-10 años'" src="../../assets/imgs/7-10anos.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == '10-12 años'" src="../../assets/imgs/10-12anos.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == '12-14 años'" src="../../assets/imgs/12-14anos.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == '14-16 años'" src="../../assets/imgs/14-16anos.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Extra Chico'" src="../../assets/imgs/xs.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Chico'" src="../../assets/imgs/s.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Mediano'" src="../../assets/imgs/m.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Grande'" src="../../assets/imgs/l.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Extra Grande'" src="../../assets/imgs/xl.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Extra Extra Grande'" src="../../assets/imgs/2xl.png" (click)="sendOther(item)">
      <img style="width: 65%;" *ngIf="item.talla == 'Extra Extra Extra Grande'" src="../../assets/imgs/3xl.png" (click)="sendOther(item)">
    </ion-col>
    <ion-col>
      <img src="../../assets/imgs/ayuda.png" (click)="sendHelp()">
      <p class="p-help">AYUDA?</p>
    </ion-col>
  </ion-row>
  <!--<ion-row>
    <button ion-button type="button" (click)="sendHelp()">Ayuda</button>
  </ion-row>-->
</ion-grid>
</ion-content>
