page-login {
  .scroll-content {
    //overflow: hidden;
  }
  .login-page{
    background-image: url('../assets/imgs/background-login.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: 34%;
  }
  .img-logo{
    width: 55%;
    margin-top: 5%;
  }
  .item-md, .item-ios {
    padding-left: 0px;
    background-color: transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .checkbox-md .checkbox-icon, .checkbox-ios .checkbox-icon  {
    background-color: #ffc8c8;
    border-color: #ffc8c8;
  }
  .checkbox-md .checkbox-checked, .checkbox-ios .checkbox-checked  {
    border-color: #ffc8c8;
    background-color: #ffc8c8;
  }
  .item.item-md .checkbox-md , .item.item-ios .checkbox-ios {
    position: static;
    display: block;
    margin: 9px 10px 9px 4px;
  }
  .item-checkbox-peke.item-md .item-inner , .item-checkbox-peke.item-ios .item-inner{
    border-bottom: unset;
  }
  .button-save{
    text-align: center;
    background: #fcc4c5;
    width: 50%;
    height: 40%;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .button-create{
    text-align: center;
    background:  black;
    width: 50%;
    height: 40%;
    box-shadow: none;
  }
}
