<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content [attr.noScroll]="shouldScroll" class="login-page" padding>
<ion-grid>
  <ion-row>
    <ion-col style="text-align: center;">
      <img class="img-logo" src="../../assets/imgs/chic-mua-logo.png">
    </ion-col>
  </ion-row>
    <ion-row style="margin-top: -14%;">
      <ion-col>
        <ion-item class="item-peke">
          <!--<ion-input [(ngModel)] = "token" style="display: none;"></ion-input>-->
          <ion-label floating>Email</ion-label>
          <ion-input type="email" [(ngModel)] = "email"></ion-input>
        </ion-item>
        <ion-item class="item-peke">
          <ion-label floating>Contraseña</ion-label>
          <ion-input type="password" [(ngModel)] = "pass"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="remember">
      <ion-col col-12>
        <ion-item class="item-checkbox-peke">
          <ion-label style="font-size: 12px;">Recuerdame</ion-label>
          <ion-checkbox [(ngModel)]="remember"></ion-checkbox>
        </ion-item>
      </ion-col>
      <!--<ion-col col-12>
        <ion-item>
          <ion-label class="rememberme" style="" (click)="reset()">¿Olvidaste tu contraseña?</ion-label>
        </ion-item>
      </ion-col>-->
    </ion-row>
  <ion-row>
    <ion-col style="text-align: center;">
        <button class="button-save" ion-button  (click)="login()">Ingresar</button>
        <button class="button-create" ion-button  (click)="sendRegister()">CREAR CUENTA</button>
      <p>¿Olvidaste tu contraseña?</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
