<!--
  Generated template for the TipsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides pager="true" paginationType="bullets">
    <ion-slide *ngFor="let tip of tips">
      <img src="{{urlimg}}/images/beauty/{{tip.imagen}}">
    </ion-slide>
  </ion-slides>

</ion-content>
