page-checkout-next {
  .button-register{
    float: right;
    background:  #fcc4c5;
    width: 66%;
    box-shadow: none;
  }
  .description-sold{
    border: 1px solid;
    border-radius: 12px;
  }
  .text-detail{
    color: pink;
    margin-left: 5%;
  }
  .button-store{
    background: #fcc4c5;
    width: 97%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 8px;
  }
  .button-pay{
    background: #fcc4c5;
    width: 60%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 8px;
  }
  .text-details{
    margin-left: 5% !important;
  }
  .button-next{
    background:  #fcc4c5;
    width: 66%;
    box-shadow: none;
  }
  /*.button-card{
    border: solid 2px gainsboro;
    background: #eaeaea;
  }*/
  .button-card:first-child{
    border: solid 2px pink;
    background: pink;
    border-radius: 12px;
  }
  .button-card{
    border: solid 2px gainsboro;
    background: #eaeaea;
    border-radius: 12px;
  }
  .icon-trash{
    float: right;
  }
  .center-content{
    margin-top: auto;
    margin-bottom: auto;
  }
  .select-md,.select-ios{
    padding: unset;
  }
  ion-select{
    max-width: 100%;
  }
  .item-md,.item-ios{
    padding: unset;
  }
}
