<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-row style="height: 50px;">
        <ion-col col-3>
          <div style="">
            <img style="position: absolute; width: 70%;" src="{{urlimg}}/images/patterns/{{item.imagen_patron}}">
            <img style="position: absolute; width: 70%;" src="{{urlimg}}/images/models/{{item.imagen_modelo}}">
          </div>
        </ion-col>
        <ion-col class="center-content" col-9>
          <p>{{item.modelo}} {{item.tela}}/{{item.talla}} <span style="float:right;">${{item.precio_linea}}</span></p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="description-sold">
      <p class="text-detail">Cupon</p>
      <p class="text-details">{{cupon}}</p>
      <p class="text-detail">Dirección de envío:</p>
      <p class="text-details" *ngIf="this.address">{{this.address.street}},{{this.address.suburb}},{{this.address.delegation}},{{address.postal_code}}</p>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-item text-center>
        <p>MÉTODO DE PAGO</p>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item class="item-ios button-card" *ngFor="let item of cards">
            <span (click)="sendConfirm(item)">{{ item.card }}</span>
            <ion-icon class="icon-trash" name="trash" (click)="deleteCard(item.id)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <button class="button-store" ion-button type="submit" (click)="sendAddPayment()">Da de alta tu tarjeta</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--<ion-col col-4>
        <ion-item>
          <ion-label floating>Cupon</ion-label>
          <ion-input  disabled="true" type="text" [(ngModel)]="cupon" (ionBlur)="test()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select disabled="true" [(ngModel)]="delivery" (ionChange)="test()">
            <ion-option value="1">En tienda (sin costo)</ion-option>
            <ion-option value="2">Domicilio</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>-->
      <ion-col col-4>

      </ion-col>

      <ion-col style="text-align: right;" col-8>
        <p>Subtotal: ${{subtotal}}</p>
        <p>Descuento: ${{discount}}</p>
        <p *ngIf="customerDiscount != 0">Descuento Cliente:${{customerDiscount}}</p>
        <p>Envío: ${{coust}}</p>
        <p>Total: ${{total}}</p>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <button class="button-pay" disabled ion-button type="submit" (click)="sendAddPayment()">Pagar</button>
      </ion-col>
    </ion-row>
    <!--<ion-row>
        <ion-col col-12>
            <p>¿Te invito un amigo?</p>
            <p>Anota su email para que el pueda recibir un cupón de descuento por tu compra</p>
        </ion-col>
        <ion-col col-12>
            <ion-item>
                <ion-label floating>Email de un amigo</ion-label>
                <ion-input type="text" [(ngModel)]="cupon"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>-->
    <ion-row>
      <!--Cambio el diseño de esta parte-->
      <!--<ion-col col-6>
        <p class="p-subtitle">Selecciona tu forma de pago</p>
      </ion-col>
      <ion-col col-6>
        <button class="button-register " ion-button type="button" (click)="sendAddPayment()">Nuevo</button>
      </ion-col>-->

    </ion-row>
  </ion-grid>
</ion-content>
