<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <div class="row-profile">
      <ion-row style="text-align: center;">
        <ion-col>
          <p>Los campos marcados con * son obligatorios.</p>
        </ion-col>
      </ion-row>
    </div>
    <form [formGroup]="form" (ngSubmit)="logForm()">
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="name" formControlName="name" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Apellido Paterno</ion-label>
            <ion-input type="text" [(ngModel)]="firstname" formControlName="firstname" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Apellido Materno</ion-label>
            <ion-input type="text" [(ngModel)]="secondname" formControlName="secondname" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" formControlName="email" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Whatsapp</ion-label>
            <ion-input type="number" [(ngModel)]="phone" formControlName="phone" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" formControlName="password" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item class="item-gender">
            <p class="gender">Genero</p>
            <ion-segment  [(ngModel)]="genre" formControlName="genre" color="success">
              <ion-segment-button value="2">
                Femenino
              </ion-segment-button>
              <ion-segment-button value="3">
                Masculino
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Fecha de nacimiento</ion-label>
            <ion-datetime  [(ngModel)]="birthdate" formControlName="birthdate" displayFormat="DD-MM-YYYY" cancelText="Cancelar" doneText="Hecho"></ion-datetime>
          </ion-item>
        </ion-col>
        <br>
        <br>
        <br>
        <br>
        <!--<ion-col col-12
          <ion-item class="item-gender">
            <p class="gender">Genero</p>
            <ion-segment  [(ngModel)]="gender" formControlName="genre" color="success">
              <ion-segment-button value="2">
                Femenino
              </ion-segment-button>
              <ion-segment-button value="1">
                Masculino
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </ion-col>-->
      </ion-row>
      <!--<ion-row>
        <ion-col style="text-align: center;">
          <button class="button-register save" color="secondary" ion-button type="submit">Guardar</button>
        </ion-col>
      </ion-row>-->
    </form>
    <ion-row>
      <ion-col>
        <ion-label class="label-terms" (click)="terms()">Ver terminos y condiciones</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <button class="button-save" ion-button type="submit" (click)="logForm()"> GUARDAR </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
