page-tabs {
  .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text , .tabs-ios[tabsLayout=icon-top] .has-icon .tab-button-text {
    margin-top: 0px;
    margin-bottom: 0;
    color:  #fcc4c5;
  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-text, .tabs-ios .tab-button[aria-selected=true] .tab-button-text {
    color: #f6abac;
    font-weight: bold;
  }
}
