<ion-tabs #myTabs>
  <ion-tab [root]="tab1" tabTitle="Home" tabIcon="ico-homep"></ion-tab>
  <ion-tab [root]="tab2" tabTitle="Perfil" tabIcon="ico-perfil"></ion-tab>
  <ion-tab [root]="tab3" tabTitle="Compartir" tabIcon="ico-comp"></ion-tab>
  <ion-tab [root]="tab4" tabTitle="Tienda" tabIcon="ico-tienda"></ion-tab>
</ion-tabs>