<!--
  Generated template for the AddAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <div class="row-profile">
      <ion-row style="text-align: center;">
        <ion-col>
          <p>Los campos marcados con * son obligatorios para poder dar de alta tu direccion correctamente.</p>
        </ion-col>
      </ion-row>
    </div>
    <form [formGroup]="form" (ngSubmit)="sendAddress()">
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Nickname de la dirección</ion-label>
            <ion-input type="text" [(ngModel)]="nickname" formControlName="nickname" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Estado</ion-label>
            <ion-select [(ngModel)]="state" formControlName="state" multiple="false">
              <ion-option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Municipio o Delegación</ion-label>
            <ion-input type="text" [(ngModel)]="municipality" formControlName="municipality" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Calle</ion-label>
            <ion-input type="text" [(ngModel)]="street" formControlName="street" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Numero Exterior</ion-label>
            <ion-input type="number" [(ngModel)]="numberext" formControlName="numberext" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Numero Interior</ion-label>
            <ion-input type="number" [(ngModel)]="number" formControlName="number" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Colonia</ion-label>
            <ion-input type="text" [(ngModel)]="vicinity" formControlName="vicinity" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>*Codigo Postal</ion-label>
            <ion-input type="text" [(ngModel)]="postal_code" formControlName="postal_code" ion-input-scroll-into-view></ion-input>
          </ion-item>
        </ion-col>
        <br>
        <br>
        <br>
        <!--<ion-col col-12
          <ion-item class="item-gender">
            <p class="gender">Genero</p>
            <ion-segment  [(ngModel)]="gender" formControlName="genre" color="success">
              <ion-segment-button value="2">
                Femenino
              </ion-segment-button>
              <ion-segment-button value="1">
                Masculino
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </ion-col>-->
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;">
          <button *ngIf="this.flag == false" class="button-register save" color="secondary" ion-button type="submit">Guardar</button>
          <button *ngIf="this.flag == true" class="button-register save" color="secondary" ion-button type="button" (click)="edit()">Guardar</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
