page-add-address {
  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #fcc4c5 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #fcc4c5 !important;
    box-shadow: inset 0 -1px 0 0 #fcc4c5 !important;
  }
  .item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #fcc4c5;
  }
  .button-register{
   // float: right;
    background:  #fcc4c5;
    width: 66%;
    box-shadow: none;
    margin-top: 15%;
  }
}
