page-cloth {
  .img-cloth{
   // width: 150px !important;
    //height: 150px !important;
  }
  .text-cloth{
    //margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5vw;
    font-weight: bold;
  }
  .page-home{
    //background: #ffe6e6;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .text-center-cloth{
    margin-top: 45px;
    position: absolute;
    margin-bottom: 0;
    text-align: center;
    font-size: 2.5vw;
    background-color: white;
    font-weight: bold;
  }
  /*RELOJ*/
  .progress-percentage-wrapper {
    position: absolute;
    /* margin: -11% 78%; */
    font-size: 50px;
    width: 100px;
    height: 52px;
    right: -32px;
    top: -45px;
  }
  .progress-percentage {
    position: absolute;
    color: #bbb;
    width: 100%;
    top: 30%;
    right: -6%;
    font-size: 17px;
    margin-left: -22%;
  }
  .round{
    width: 55px !important;
    height: auto;
  }
  .timer{
    display: none;
  }
  /*END RELOJ*/
  .test{
    position: absolute;
    z-index: 10;
    left: 45px;
    top: 25px;
  }
  .div-two{
    height: 40px;
    width: 40px;
    background: black;
    color: white;
    /* font-size: 20px; */
    position: relative;
    border-radius: 30px;
  }
  .span-two{
    text-align: center;
    position: absolute;
    margin-left: 22%;
    margin-top: -6%;
    font-size: 40px;
  }
  .p-select-two{
    font-size: 25px;
    color: #91dbce;
    margin-top: 4px;
    margin-left: -12%;
    margin-bottom: 0;
  }
  .p-cloth{
    font-weight: bold;
  }
  .test-car{
    position: absolute;
    z-index: 10;
    left: 76%;
    top: -65px;
  }
  .p-checkout{
    position: absolute;
    margin-top: -59%;
    margin-left: 30%;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
  }
}
