<!--
  Generated template for the ClothPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
    <div style="position: relative;">
      <div class="progress-percentage-wrapper timer">
        <div *ngIf="timerSeg < 10" class="progress-percentage ng-cloak">{{'0'+timerMin +':'+'0'+ timerSeg}}</div>
        <div *ngIf="timerSeg == 10 || timerSeg > 10 " class="progress-percentage ng-cloak">{{'0'+timerMin +':'+ timerSeg}}</div>
        <div *ngIf="timerMin == 10 || timerMin > 10 " class="progress-percentage ng-cloak">{{timerMin +':'+ timerSeg}}</div>
        <round-progress [max]="max"
                        [current]="timer"
                        [color]="'#45ccce'"
                        [background]="'#eaeaea'"
                        [radius]="100"
                        [stroke]="20"
                        [semicircle]="false"
                        [rounded]="true"
                        [clockwise]="true"
                        [responsive]="false"
                        [duration]="1000"
                        [animation]="'easeInOutQuart'"
                        [animationDelay]="100" class="round"></round-progress>
      </div>
    </div>
  </ion-navbar>

</ion-header>
<!--<div class="test">
  <img  src="../../assets/imgs/escarabajo.png">
</div>-->
<ion-content  class="page-home" [ngStyle]="{'background-image':'url('+urlimg+'/images/configuration/'+background}"  padding>
<ion-grid>
  <ion-row style="margin-top: 20%;">
  </ion-row>
  <div *ngIf="this.check!=undefined" style="position: relative;">
    <div class="test-car">
      <img (click)="checkout()" style="width:65%;" src="../../assets/imgs/carrito.png">
      <p *ngIf="this.check!=undefined" class="p-checkout">{{this.check}}</p>
      <p *ngIf="this.check == undefined" class="p-checkout">{{0}}</p>
    </div>
  </div>
  <ion-row>
    <ion-col>
      <p class="p-cloth">TELAS DE TEMPORADA</p>
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-scroll scrollY="true" style="height: 75%;">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of items" (click)="sendReview(item)" col-3>
          <p class="text-center-cloth">{{item.tela}}</p>
          <img class="img-cloth" src="{{urlimg}}/images/patterns/{{item.ruta}}">
          <p class="text-cloth" *ngIf="item.incremento != 0">+{{item.incremento}}</p>
          <p class="text-cloth" *ngIf="item.descuento != 0 ">Descuento {{item.descuento}}%</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>
</ion-content>
