<!--
  Generated template for the ModelsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
    <div style="position: relative;">
      <div class="progress-percentage-wrapper timer">
        <div *ngIf="timerSeg < 10" class="progress-percentage ng-cloak">{{'0'+timerMin +':'+'0'+ timerSeg}}</div>
        <div *ngIf="timerSeg == 10 || timerSeg > 10 " class="progress-percentage ng-cloak">{{'0'+timerMin +':'+ timerSeg}}</div>
        <div *ngIf="timerMin == 10 || timerMin > 10 " class="progress-percentage ng-cloak">{{timerMin +':'+ timerSeg}}</div>
        <round-progress [max]="max"
                        [current]="timer"
                        [color]="'#45ccce'"
                        [background]="'#eaeaea'"
                        [radius]="100"
                        [stroke]="20"
                        [semicircle]="false"
                        [rounded]="true"
                        [clockwise]="true"
                        [responsive]="false"
                        [duration]="1000"
                        [animation]="'easeInOutQuart'"
                        [animationDelay]="100" class="round"></round-progress>
      </div>
    </div>
  </ion-navbar>

</ion-header>


<ion-content class="page-home" [ngStyle]="{'background-image':'url('+urlimg+'/images/configuration/'+background}" padding>
  <!--<ion-row>
    <ion-col col-3>
      <div class="div-two">
        <span class="span-two">2</span>
      </div>
    </ion-col>
    <ion-col col-9>
      <p class="p-select-two">ELIGE</p>
      <p class="p-select-two">MODELO</p>
    </ion-col>
  </ion-row>-->
  <ion-row>
    <ion-col></ion-col>
  </ion-row>
  <div *ngIf="this.check!=undefined" style="position: relative;">
    <div class="test-car">
      <img (click)="checkout()" style="width:65%;" src="../../assets/imgs/carrito.png">
      <p *ngIf="this.check!=undefined" class="p-checkout">{{this.check}}</p>
      <p *ngIf="this.check == undefined" class="p-checkout">{{0}}</p>
    </div>
    <div class="test">
      <img style="width:70%;" src="../../assets/imgs/escarabajo-3.png">
    </div>
  </div>
  <ion-row style="margin-top: 15%;" *ngIf="this.use != 1 || this.use != 3"></ion-row>
  <ion-row *ngIf="this.use == 1 || this.use==3">
    <ion-col>
      <p class="p-text-h">{{this.text}}</p>
    </ion-col>
  </ion-row>
  <div no-border class="scrollable-segments segments-bord">
    <!--<p class="models">Modelos</p>-->
    <ion-segment [(ngModel)]="segment" (click)="log()">
        <ion-segment-button *ngFor="let type of types"  value="{{type.tipo}}" (click)="setSegment(type.tipo)">
          {{type.tipo}}
        </ion-segment-button>
    </ion-segment>
  </div>
      <ion-scroll scrollY="true" style="height: 100%;">
        <div [ngSwitch]="segment">
          <div *ngFor="let type of types">
        <ion-list *ngSwitchCase="type.tipo">
          <ion-grid>
            <ion-row *ngIf="type.tipo == 'Todos'">
              <ion-col  *ngFor="let model of models" col-4  (click)="sendCloth(model)">
                <img *ngIf="type.tipo == 'Todos'" src="{{urlimg}}/images/models/{{model.ruta}}">
                <p *ngIf="type.tipo == 'Todos'" class="p-describe">{{model.modelo}}</p>
                <p *ngIf="model.costo > 0" class="p-describe">+{{model.costo}}</p>
                <!--<p *ngIf="model.costo < 0" class="p-describe">{{model.costo}}</p>-->
              </ion-col>
            </ion-row>
            <ion-row *ngIf="type.tipo != 'Todos'">
              <ion-col *ngFor="let model of models" col-4 [ngClass]="{'hide-model':model.tipo != type.tipo}"   (click)="sendCloth(model)">
                <img *ngIf="model.tipo == type.tipo" src="{{urlimg}}/images/models/{{model.ruta}}">
                <p *ngIf="model.tipo == type.tipo" class="p-describe">{{model.modelo}}</p>
                <p *ngIf="model.tipo == type.tipo && model.costo > 0" class="p-describe">+{{model.costo}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
          </div>
        </div>
      </ion-scroll>
  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-down"></ion-icon></button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar class="toolbar-footer">
      <img style="height: 60px;" src="{{urlimg+'/images/configuration/'+imagetip}}" (click)="sendTips()">
  </ion-toolbar>
</ion-footer>
