page-models {
  ion-toolbar.scrollable-segments {
    ion-segment {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
      ion-segment-button.segment-button {
        display: inline-block;
        width: auto;
      }
    }
  }
  /*RELOJ*/
  .progress-percentage-wrapper {
    position: absolute;
    /* margin: -11% 78%; */
    font-size: 50px;
    width: 100px;
    height: 52px;
    right: 0;
    top: -45px;
  }
  .progress-percentage {
    position: absolute;
    color: #bbb;
    width: 100%;
    top: 30%;
    font-size: 17px;
    margin-left: -22%;
  }
  .round{
    width: 55px !important;
    height: auto;
  }
  .timer{
    display: none;
  }
  /*END RELOJ*/
  .img-banner{
    z-index: 50;
    margin-left: -20px;
    margin-right: -20px;
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
    border-color: #ffe6e6;
    opacity: 1;
    color: #f3b5b5;
    font-weight: bold;
  }
  .segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated{
    background-color:  #f3b5b5;
    color:#ffffff;
    border-color: #ffe6e6;
    opacity: 1;
    font-weight: bold;
  }
  .segment-ios .segment-button{
    border-color: unset;
  }
  .segment-md .segment-button, .segment-ios .segment-button{
    color: #ffc8c8;
  }
  .segments-bord{
    border:1px solid #ffe6e6;
  }
  .segment-md .segment-button, .segment-ios .segment-button{
    font-size: 10px;
  }
  .models{
    text-align: center;
  }
  .div-two{
    height: 40px;
    width: 40px;
    background: black;
    color: white;
    /* font-size: 20px; */
    position: relative;
    border-radius: 30px;
  }
  .span-two{
    text-align: center;
    position: absolute;
    margin-left: 22%;
    margin-top: -6%;
    font-size: 40px;
  }
  .p-select-two{
    font-size: 25px;
    color: #91dbce;
    margin-top: 4px;
    margin-left: -12%;
    margin-bottom: 0;
  }
  .p-cloth{
    font-weight: bold;
  }
  .test{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: -29px;
  }
  .test-car{
    position: absolute;
    z-index: 10;
    left: 76%;
    top: -15px;
  }
  .hide-model{
    display: none;
  }
  .toolbar-footer {
     padding:unset !important;
     padding-left:unset !important;
     padding-right:unset !important;
     min-height: unset !important;
  }
  .page-home{
    //background: #ffe6e6;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .p-checkout{
    position: absolute;
    margin-top: -59%;
    margin-left: 30%;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
  }
  .p-describe{
    text-align: center;
    color: pink;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  ion-fab[bottom] {
    bottom: 10px;
    opacity: 0.7;
  }
  .p-text-h{
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
  }
}
