<ion-header>
  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-item text-center>
      <p style="font-weight: bold;">CONFIRMACIÓN DE PEDIDO</p>
    </ion-item>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-row style="height: 50px;">
        <ion-col col-3>
          <div style="">
            <img style="position: absolute; width: 70%;" src="{{urlimg}}/images/patterns/{{item.imagen_patron}}">
            <img style="position: absolute; width: 70%;" src="{{urlimg}}/images/models/{{item.imagen_modelo}}">
          </div>
        </ion-col>
        <ion-col class="center-content" col-9>
          <p>{{item.modelo}} {{item.tela}}/{{item.talla}} <span style="float:right;">${{item.precio_linea}}</span></p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="description-sold">
      <p class="text-detail">Cupon</p>
      <p class="text-details">{{cupon}}</p>
      <p class="text-detail">Dirección de envío:</p>
      <p class="text-details" *ngIf="this.address">{{this.address.street}},{{this.address.suburb}},{{this.address.delegation}},{{address.postal_code}}</p>
      <p class="text-detail">Metodo de pago:</p>
      <p class="text-details">{{this.payment.card}}</p>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <!--<ion-col col-4>
        <ion-item>
          <ion-label floating>Cupon</ion-label>
          <ion-input  disabled="true" type="text" [(ngModel)]="cupon" (ionBlur)="test()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select disabled="true" [(ngModel)]="delivery" (ionChange)="test()">
            <ion-option value="1">En tienda (sin costo)</ion-option>
            <ion-option value="2">Domicilio</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>-->
      <ion-col col-4>

      </ion-col>

      <ion-col style="text-align: right;" col-8>
        <p>Subtotal: ${{subtotal}}</p>
        <p>Descuento: ${{discount}}</p>
        <p *ngIf="customerDiscount != 0">Descuento Cliente:${{customerDiscount}}</p>
        <p>Envío: ${{coust}}</p>
        <p>Total: ${{total}}</p>
      </ion-col>

    </ion-row>
    <!--<ion-row>
      <ion-col style="text-align: center" col-12>
        <p *ngIf="this.address">Direccion de envio:{{this.address.street}},{{this.address.suburb}},{{this.address.delegation}},{{address.postal_code}}</p>
        <p>Metodo de pago:{{this.payment.card}}</p>
      </ion-col>
    </ion-row>-->
    <ion-row>
        <ion-col col-12>
            <p style="font-weight: bold;">¿Te invito un amigo?</p>
            <p>Anota su email para que el pueda recibir un cupón de descuento por tu compra</p>
        </ion-col>
        <ion-col col-12>
            <ion-item>
                <ion-label floating>Email de un amigo</ion-label>
                <ion-input type="email" [(ngModel)]="friend"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12="">
        <p style="font-weight: bold;">Comentarios acerca de tu pedido</p>
        <ion-item>
          <ion-textarea  class="text-areacom" disabled="false" type="text" placeholder="comentarios" [(ngModel)]="comentario"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <button class="button-next" ion-button type="submit" id="pay-button" (click)="payOpenPay()"> Confirmar Pedido </button>
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col col-6>
        <p class="p-subtitle">Tarjetas</p>
      </ion-col>
      <ion-col col-6>
        <button class="button-register " ion-button type="button" (click)="sendAddPayment()">Nuevo</button>
      </ion-col>
      <ion-col col-12>
        <ion-list>
          <ion-item class="item-ios button-card" *ngFor="let item of cards">
            <span (click)="sendConfirm()">{{ item.card }}</span>
            <ion-icon class="icon-trash" name="trash" (click)="deleteCard(item.id)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>-->
  </ion-grid>
  <!--<form action="#" method="POST" id="payment-form">
    <input type="hidden" name="token_id" id="token_id">
    <input type="hidden" name="use_card_points" id="use_card_points" value="false">
    <div class="pymnt-itm card active">
      <h2>Tarjeta de crédito o débito</h2>
      <div class="pymnt-cntnt">
        <div class="card-expl">
          <div class="credit"><h4>Tarjetas de crédito</h4></div>
          <div class="debit"><h4>Tarjetas de débito</h4></div>
        </div>
        <div class="sctn-row">
          <div class="sctn-col l">
            <label>Nombre del titular</label><input type="text" value="Carlos Dom" placeholder="Como aparece en la tarjeta" autocomplete="off" data-openpay-card="holder_name">
          </div>
          <div class="sctn-col">
            <label>Número de tarjeta</label><input type="text" value="4111111111111111" autocomplete="off" data-openpay-card="card_number"></div>
        </div>
        <div class="sctn-row">
          <div class="sctn-col l">
            <label>Fecha de expiración</label>
            <div class="sctn-col half l"><input type="text" value="11" placeholder="Mes" data-openpay-card="expiration_month"></div>
            <div class="sctn-col half l"><input type="text" value="21" placeholder="Año" data-openpay-card="expiration_year"></div>
          </div>
          <div class="sctn-col cvv"><label>Código de seguridad</label>
            <div class="sctn-col half l"><input type="text" placeholder="3 dígitos" value="123" autocomplete="off" data-openpay-card="cvv2"></div>
          </div>
        </div>
        <div class="openpay"><div class="logo">Transacciones realizadas vía:</div>
          <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256 bits</div>
        </div>
        <div class="sctn-row" style="display: block">
          <a class="button rght" id="pay-button">Pagar</a>
        </div>
      </div>
    </div>
  </form>!-->
</ion-content>
