page-checkout-confirm {
  .button-register{
    float: right;
    background:  #fcc4c5;
    width: 66%;
    box-shadow: none;
  }
  .button-next{
    background:  #fcc4c5;
    width: 66%;
    box-shadow: none;
  }
  .button-card{
    border: solid 2px gainsboro;
    background: #eaeaea;
  }
  .icon-trash{
    float: right;
  }
  .center-content{
    margin-top: auto;
    margin-bottom: auto;
  }
  .select-md,.select-ios{
    padding: unset;
  }
  ion-select{
    max-width: 100%;
  }
  .item-md,.item-ios{
    padding: unset;
  }
  .description-sold{
    border: 1px solid;
    border-radius: 12px;
  }
  .text-areacom{
    height: 100px;
    border: 0.5px solid;
    border-radius: 6px;
  }
  .text-details{
    margin-left: 5% !important;
  }
  .text-detail{
    color: pink;
    margin-left: 5%;
  }
}
