<!--
  Generated template for the AddOtherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-home" [ngStyle]="{'background-image':'url('+url_image+'/images/configuration/'+background}" padding>
<ion-grid>
  <ion-row>
    <ion-col class="cols" col-12>
      <img class="img-button" src="../../assets/imgs/agregar-otro.png" (click)="addOther()">
    </ion-col>
    <ion-col class="cols" col-12>
      <img class="img-button" src="../../assets/imgs/pagar.png" (click)="checkout()">
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
