page-add-other {
  .other-page{
    background-image: url('../assets/imgs/background-agregar-otro.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .img-button{
    width:65%;
  }
  .page-home{
    //background: #ffe6e6;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .cols{
    text-align: center;
  }
}
