<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-scroll scrollY="true" class="terms">
    <div class="div-terms">
      <h3> TERMINOS Y CONDICIONES</h3>
      <p>Bienvenido(a) al sitio web de Chicmua.com.mx Nuestro servicio está sujeto a los avisos, términos y
        condiciones establecidos en este acuerdo (el "Acuerdo"). Adicionalmente, cuando utilice el servicio de
        Bridezilla.mx (e.g. Reseñas de Clientes) estará sujeto a las reglas, guías, políticas y condiciones que aplican a
        dicho servicio, los cuales están incluidos en este Acuerdo por esta referencia. Chicmua.com.mx Se reserva el
        derecho de cambiar este sitio y los términos y condiciones en cualquier momento</p>
      <p>El contenido total de este sitio, las marcas, nombres comerciales y demás propiedades intelectuales e industriales que aparecen en la aplicación y en la página web que contengan la denominación  son propiedad exclusiva de Rosalía Guadalupe Boullosa Fernández e Ilana Baradón Axelrod (en lo sucesivo en su conjunto se le denominará ). Queda estrictamente prohibido cualquier uso o explotación de las marcas, nombres comerciales y demás propiedades intelectuales e industriales sin el consentimiento previo y por escrito de Rosalía Guadalupe Boullosa Fernández e Ilana Baradón Axelrod </p>
      <h5>Acceder, navegar o utilizar el sitio indica que estar de acuerdo con todos los términos y condiciones
        de este acuerdo. Por favor lea este acuerdo detalladamente antes de continuar.</h5>
      <p>Confirma que usted tiene al menos 18 años de edad o que visita el sitio bajo la supervisión de un adulto o
        tutor. Sujeto a los términos y condiciones de este acuerdo, Chicmua.com.mx por este medio le otorga una
        licencia limitada, revocable, no transferible y no exclusiva para acceder al sitio web para mostrarlo en su
        propio navegador de internet con el fin de realizar compras personales de artículos mostrados en este sitio. No
        se permite el uso del sitio para ningún fin comercial o uso en nombre de terceros, excepto con la autorización
        previa y explícita de Chicmua.com.mx Cualquier violación a este Acuerdo resultará en la revocación inmediata
        de la licencia otorgada en este párrafo sin noticia previa.</p>
      <p>A excepción de lo permitido en el párrafo anterior, usted no puede reproducir, distribuir, exhibir, vender,
        arrendar, transmitir, crear trabajos derivados, traducir, modificar, realizar ingeniería inversa, desensamblar,
        descompilar o explotar este sitio y cualquiera de sus partes a menos de que sea expresamente autorizado por
        Chicmua.com.mx de manera escrita. No deberá hacer ningún uso comercial de la información proporcionada
        por el sitio o hacer uso del sitio para el beneficio de otro negocio a menos de que Chicmua.com.mx lo permita
        previamente. Chicmua.com.mx se reserva el derecho de negar servicios, bloquear cuentas y/o cancelar las
        órdenes a su discreción, incluyendo y sin limitaciones, si Chicmua.com.mx considera que la conducta de un
        cliente viola la ley y daña sus intereses.</p>
      <p> Usted no deberá cargar contenido con el fin de distribuir o publicar en este sitio cualquier información o
        material que (a) viole o infrinja los derechos de autor, patentes, marcas registradas, marcas de servicio,
        secretos de corporativos o cualquier propiedad de terceros; (b) es injurioso, amenazante, difamatorio,
        obsceno, indecente, pornográfico o que podría dar lugar a cualquier responsabilidad civil o criminal bajo la ley
        de los Estados Unidos Mexicanos, EE.UU.A. o en el derecho internacional; o (c) que incluye cualquier error,
        virus, gusanos, puertas de trampa, troyanos u otro código o propiedades dañinas. Chicmua.com.mx puede
        asignarle una contraseña y una cuenta con identificación para permitirle acceder y usar ciertas partes del sitio.
        Cada vez que utilice una contraseña o una identificación, se le considerará como autorizado para acceder y
        usar el sitio respetando los términos y condiciones de este acuerdo. Chicmua.com.mx no tiene obligación de
        investigar la autorización o la fuete del uso o ingreso al Sitio.</p>
      <p>Usted será el único responsable por todas las veces que inicie sesión y el uso de este sitio por cualquier
        persona que utilice la contraseña o la identificación que originalmente se le asignó, sin importar si el inicio de
        sesión o uso del sitio fue autorizado por usted, incluyendo y sin limitaciones, toda comunicación, transmisión y
        obligaciones ( obligaciones financieras) incurridas. Usted es el único responsable de proteger la seguridad y
        confidencialidad de la contraseña y la identificación que se le asignó. Deberá de notificar inmediatamente a
        Chicmua.com.mx de cualquier violación o intento de violación a la seguridad de este sitio. Después de
        registrarse, recibirá nuestro Newsletter con información sobre ventas, cupones y promociones especiales. Se
        puede dar de baja utilizando el link de cualquier correo del Newsletter o través de los ajustes en su suscripción
        personal una vez que inicie sesión. La suscripción al Newsletter es automática para los usuarios registrados.</p>
      <h4>Reseñas y Comentarios</h4>
      <p>Excepto lo provisto en este acuerdo o en el sitio, cualquier cosa que se envíe o publique en el sitio y/o que se
        proporcione a Chicmua.com.mx, incluyendo (sin limitaciones), ideas, conocimiento, técnicas, preguntas,
        reseñas, comentarios y sugerencias (en conjunto, "Contenido") son y serán tratados como objetos no
        confidenciales y sin propiedad, siendo que al enviar o publicar contenido usted concede a un permiso
        irrevocable a la entrada y todos los derechos de propiedad intelectual (PI) relacionados con el mismo (con
        exclusión de los derechos morales como los derechos de autor) a Chicmua.com.mx sin cargo, por lo que
        tendrá el derecho mundial, perpetuo, libre de regalías, irrevocable y transferible de usar, copiar, distribuir,
        mostrar, publicar, interpretar, vender, rentar, transmitir, adaptar, crear trabajos derivados por cualquier medio y
        en cualquier forma para traducir, modificar, desensamblar o descompilar dicho contenido. Todo el contenido
        se convertirá automáticamente en propiedad única y exclusiva de Chicmua.com.mx y no serán sujetos a
        devoluciones, ya que usted acepta no entrar en disputas por cualquier uso de Chicmua.com.mx en el futuro.</p>
      <p> Usted garantiza que su contenido, parcial o total, es libre de infracciones a la PI, disputas o reclamaciones de
        terceros. Chicmua.com.mx no se hace responsable del uso indebido de cualquiera de los derechos de autor o
        derechos de terceros por su parte. Usted tiene la obligación de indemnizar al Patrocinador contra cualquier
        pérdida causada por el uso del contenido bajo cualquier propósito.</p>
      <p>Además de los derechos aplicables a cualquier contenido, cuando usted publica comentarios o reseñas en el
        sitio, también autoriza a Chicmua.com.mx a usar el nombre registrado en cualquier reseña, comentario u otro
        contenido. Usted acepta y garantiza que es propietario o que ejerce control sobre todos los derechos de las
        opiniones, comentarios y otros contenidos publicados en el sitio y el uso de las reseñas, comentarios u otro
        contenido por Chicmua.com.mx no infringe o viola los derechos de terceros. No deberá utilizar una dirección
        de correo electrónico falsa, pretender ser alguien diferente a usted o engañar a Chicmua.com.mx o a terceros,
        del origen de las publicaciones o del contenido. Chicmua.com.mx puede, pero no tiene la obligación, remover
        o editar cualquier contenido (incluyendo comentarios o reseñas) por cualquier razón.</p>
      <h3>Derechos de Autor</h3>
      <p>Todo el texto, gráficas, fotografías u otras imágenes como iconos, clips de audio, logos, slogans, nombres
        comerciales o softwares de texto junto con todo contenido de Chicmua.com.mx (collectivamente, "Contenido"),
        pertenece exclusivamente a Chicmua.com.mx o a sus correspondientes proveedores de contenido. No deberá
        usar, reproducir, copiar, modificar, transmitir, exhibir, publicar, vender, rentar, interpretar en público, distribuir o
        explotar comercialmente ninguno de los contenidos o disponer de contenido de una forma que no es permitida
        por Chicmua.com.mx, sin su consentimiento previo por escrito. El uso de extracción de datos, robots o
        herramientas de recolección de datos similares en Chicmua.com.mx, al igual que el uso de marcas
        comerciales o de servicio de Chicmua.com.mx en meta-tags está estrictamente prohibido. Solamente puede
        ver y utilizar el contenido para revisar información personal, ir de compras y realizar pedidos en el sitio. La
        recopilación, organización y ensamble de todo el sitio (la "Compilación") pertenece exclusivamente a
        Chicmua.com.mx Usted no deberá usar el Contenido o la Compilación de Chicmua.com.mx de ninguna
        manera que desacredite o desprestigie a Chicmua.com.mx o en cualquier manera que cause confusión o
        violación de cualquier ley o regulación aplicable. Todos los softwares en este sitio (los "Softwares") son
        propiedad de Chicmua.com.mx y/o de sus proveedores de Software. El Contenido, la Compilación y el
        Software están protegidos bajo las leyes estatales, nacionales e internacionales sobre el derecho de autor.
        Todos los derechos que no son expresamente otorgados están reservados por Chicmua.com.mx. Los
        infractores serán perseguidos con todo el rigor de la ley.</p>
      <p>Chicmua.com.mx reconoce y respeta todos los derechos de autor y las marcas registradas. Como tal,
        cualquier uso de televisión, películas, música, festival de cine u otro nombres o títulos no tiene conexión con
        Chicmua.com.mx y son propiedad exclusiva de sus respectivos dueños sujetos a los derechos de autor o
        marcas registradas. Nuestros diseños son inspirados por los estilos de celebridades y son nuestras
        recreaciones utilizadas por celebridades de tus programas de televisión favoritos y de la alfombra roja. Sin
        embargo, no están autorizados, respaldados o conectados a estos programas en ninguna forma y no
        pretenden ser una infracción a las marcas registradas o a los derechos de autor.</p>
      <h4>Terminación y Efecto de la Terminación</h4>
      <p>Además de cualquier otro remedio legal o equiparable, Chicmua.com.mx puede, sin noticia previa, terminar
        este acuerdo de forma inmediata y revocar parcial o totalmente los derechos adquiridos bajo este acuerdo. En
        el caso de la terminación de este Acuerdo, deberá dejar de acceder y usar el sitio y Chicmua.com.mx,
        haciendo uso de otros remedios legales o equiparables, revocarán todas las contraseñas e identificaciones de
        cuenta emitidas y le negará el ingreso y uso del sitio parcial o totalmente. La terminación de este Acuerdo no
        afectará los respectivos derechos y obligaciones (incluyendo, sin limitación, obligaciones de pago) de las
        partes involucradas antes de la fecha de terminación.</p>
      <h4>Aviso Legal y Limitación de la Responsabilidad</h4>
      <p>A la excepción prevista en los términos de venta estándares que gobiernan al mismo nivel cada producto en el
        sitio, el sitio, los productos ofrecidos a la venta y las transacciones realizadas dentro de el, son
        proporcionadas por Chicmua.com.mx con carácter de "como es". Chicmua.com.mx no hace declaraciones o
        garantías de ningún tipo, expresas o implícitas, en relación a la operación del sitio o a la información,
        contenido, materiales o productos incluidos en este sitio, a excepción de lo dispuesto aquí en la medida
        permitida por la ley, Chicmua.com.mx rechaza todas las garantías, expresas o implícitas, incluyendo, pero no
        limitando, garantías implícitas de comerciabilidad y aptitud para un fin en específico, no infracción, título, goce,
        precisión de los datos y la integración del sistema. Este sitio puede incluir imprecisiones o errores tipográficos.
        Chicmua.com.mx no garantiza que el contenido no será interrumpido o libre de errores. A la medida máxima
        permitida por la ley Chicmua.com.mx no será responsable de los daños de cualquier naturaleza derivados del
        uso de este sitio, incluyendo, sin limitar, daños incidentales, punitivos, ejemplares, especiales, como
        consecuencias o indirectos. En la medida máxima permitida por la ley aplicable, la responsabilidad total de
        Chicmua.com.mx por cualquier daño (sin importar la naturaleza de la acción) no deberá de exceder, en su
        conjunto total, la cantidad de gastos que usted pago a Chicmua.com.mx durante el mes inmediato que
        precede al hecho que da origen a la responsabilidad de Chicmua.com.mx</p>
      <h4>Aceptación de Orden</h4>
      <p>Por favor tome en cuenta que puede haber ciertas órdenes que no podemos aceptar y debemos cancelar.
        Chicmua.com.mx se reserva el derecho, a su propia discreción, de negar o cancelar cualquier orden por
        cualquier razón. Algunas situaciones que pueden dar como resultado que su orden sea cancelada incluye:
        límite en las cantidades disponibles para comprar, imprecisiones o errores en el producto o información de
        precios y problemas detectados por nuestro Departamento de Crédito y Prevención al Fraude. También
        podemos requerir verificaciones o información adicional antes de aceptar una orden. Nos pondremos en
        contacto con usted en caso de que su orden sea parcial o totalmente cancelada o en caso de que
        necesitemos información adicional para procesar su pedido</p>
      <p>Ambas partes acuerdan que después del envío de la orden, la transportación es responsabilidad solamente de
        la compañía de logística involucrada. Durante esta etapa, la propiedad total del producto(s) es del comprador;
        todas las responsabilidades y riesgos asociados durante la transportación correrán por cuenta del comprador</p>
      <h4>Cancelación de Orden</h4>
      <p>Una vez que el comprador realiza el pedido no es posible cancelarlo. En caso de un imprevisto, por favor
        contáctenos en info@chicmua.com.mx. Una vez que la orden haya sido enviada, ésta no puede ser
        cancelada, cambiada o reembolsada.</p>
      <h4>Errores Tipográficos</h4>
      <p>En Chicmua.com.mx nos esforzamos para ofrecer información precisa sobre productos y precios. No
        obstante, errores tipográficos o de precio pueden ocurrir. no puede confirmar el precio del artículo hasta que
        este ha sido ordenado. En el caso de que un artículo aparezca con un precio incorrecto o la información no
        sea precisa debido a un error, Chicmua.com.mx tiene el derecho, a nuestra discreción, de rechazar o cancelar
        cualquier orden hecha para ese artículo. En el caso de que el artículo tiene un error de precio,
        Chicmua.com.mx, a su propia discreción, puede contactarlo o cancelar su orden y notificarle sobre el motivo
        de la cancelación.</p>
      <h4>Ley Aplicable</h4>
      <p>Estas condiciones son gobernadas e interpretada exclusivamente por la Ley Mexicana.</p>
      <h4>Arbitraje</h4>
      <p>En caso de alguna disputa las partes acuerdan acudir a la PROFECO para resolución de la misma.</p>
      <h4>Links</h4>
      <p>Este sitio puede contener links a otros sitios de Internet que son operados y de propiedad de terceros. Usted
        reconoce que Chicmua.com.mx no es responsable de la operación o el contenido localizado en cualquiera de
        estos sitios.</p>
      <h4>Remedios</h4>
      <p>Usted acepta que el remedio de Chicmua.com.mx concorde a la ley en caso de incumplimiento real o la
        amenaza a éste será inadecuado y Chicmua.com.mx tendrá derecho al cumplimiento específico o medidas
        cautelares, o ambas, además de cualquier daño que Bridezilla.mx legalmente tenga derecho a recuperar,
        junto con gastos razonables en cualquier resolución de disputa, incluyendo, sin limitar, honorarios y gastos de
        abogados.</p>
      <p>Ningún derecho o remedio de Chicmua.com.mx será exclusivo, de otro derecho o equivalente, incluyendo, sin
        limitación, daños por medidas cautelares y honorarios y gastos de abogados.</p>
      <p>Ningún caso de renuncia por parte de Chicmua.com.mx sobre sus derechos o remedios bajo estos términos y
        condiciones implicarán obligación alguna de conceder un caso similar, futuro o alguna otra exención.</p>
      <h4>Código de Conducta de Servicio al Cliente</h4>
      <p>En Chicmua.com.mx nos enorgullece proporcionar un Servicio al Cliente líder en su clase y haremos todo lo
        posible para resolver los problemas de nuestros clientes hasta proporcionar satisfacción. Sin embargo, no
        toleraremos ningún comportamiento irrazonable o inaceptable hacia nuestros miembros del Equipo de Servicio
        al Cliente.</p>
      <p>El comportamiento inaceptable dirigido hacia nuestro personal de Chicmua.com.mx puede, por ejemplo, incluir
        cualquiera de los siguientes:</p>
      <p>-Comportamiento agresivo, abusivo o amenazante. Los ejemplos incluyen: cualquier forma directa o implícita
        de amenaza por un canal de comunicación; lenguaje intimidatorio; acoso verbal o personal; comentarios
        sexistas, racistas, homofóbicos o despectivos; descortesías; declaraciones exaltadas; groserías; y acusaciones sin fundamento.</p>
      <p>-Persistentemente realizar demandas habituales o quejas vejatorias, a pesar de que el asunto se haya sido
        discutido; similarmente, la repetición de quejas persistentes a pesar de haber presentado soluciones justas y
        razonables concorde a nuestras políticas.</p>
      <p>- Preguntar, esperar o exigir al personal que rompa con las políticas de la empresa, e.g. la cantidad del
        reembolso, periodo de tiempo, compensación especial, etc.; similarmente, buscar un resultado irreal fuera de
        nuestro alcance de nuestros procedimientos y políticas. Por defecto, la cantidad de reembolso no puede
        exceder la cantidad de la orden original pagada a Chicmua.com.mx</p>
      <p>Cambiar la naturaleza (o enfoque) repetidamente de la queja para obtener el resultado deseado o parcial,
        después de que se haya recibido una respuesta formal.</p>
      <p>-Número excesivo de quejas a comparación del total del valor total del historial de compras</p>
      <p>Para este tipo de comportamientos, los reclamantes se pueden guiar y formalmente notificar de la lista
        siguiente:</p>
      <p>-Su lenguaje es considerado ofensivo, abusivo, amenazante y completamente inaceptable.</p>
      <p>-Deben abstenerse de utilizar este tipo de lenguaje, intimidación y amenazas</p>
      <p>-No habrá más intercambio en la comunicación si persiste este tipo de comportamiento</p>
      <p>- Chicmua.com.mx se reserva el derecho de no aceptar más pedidos de este tipo de clientes en un futuro y sin
        aviso previo.</p>
      <h4>información de pagos</h4>
      <p>Open pay es nuestra pasarela de pagos y será la encargada de procesar las transacciones con tarjeta y pago en tienda de conveniencia</p>
    </div>
  </ion-scroll>
</ion-content>
