page-terms {
  .terms{
    width: 100%;
    height: 96%;
    margin-left: 0%;
    background: white;
    margin-top: 0%;
    /*border-top: 1px solid #97c651;
    border-left: 1px solid #97c651;
    border-right: 1px solid #97c651;
    border-bottom: 1px solid #97c651;*/
    color: rgba(0,0,0,0.5);
  }
  .terms p{
    text-align: justify;
  }
  .div-terms{
    //padding:20px;
  }
}
