page-profile {
  .gender{
    padding: 0px 0px 14px;
  }
  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #fdd6df !important;
  }
  .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #fdd6df !important;
  }
  .item-md.item-block.item-gender .item-inner {
    border: 0 !important;
  }
  .item-ios.item-block.item-gender .item-inner {
    border: 0 !important;
  }
  .item-md.item-block.item-check .item-inner {
    border: 0 !important;
  }
  .item-ios.item-block.item-check .item-inner {
    border: 0 !important;
  }
  .segment-md .segment-button.segment-activated , .segment-ios .segment-button.segment-activated {
    border-color:  #fcc4c5 !important;
    opacity: 1;
  }
  .segment-md .segment-button,.segment-ios .segment-button {
    background-color:  #fcc4c5!important;
    color: #ffffff;
    opacity: 0.5;
    height: 36px;
  }
  .button-register{
    float: right;
    background:  #fcc4c5;
    width: 66%;
    box-shadow: none;
  }
  .button-save{
    text-align: center;
    background:  #fcc4c5;
    width: 66%;
    box-shadow: none;
  }
  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner , .item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner {
    border-bottom-color: #fcc4c5 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #fcc4c5 !important;
    box-shadow: inset 0 -1px 0 0 #fcc4c5 !important;
  }
  .item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating], .item-input-has-focus .label-md[stacked], .input-has-focus .label-ios[stacked], .item-input-has-focus .label-ios[floating], .input-has-focus .label-ios[floating]{
    color: #fcc4c5;
  }
  .button-card{
    border: solid 2px gainsboro;
    background: #eaeaea;
  }
  .icon-trash{
    float: right;
  }
  .label-terms{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
  }
}
