<!--
  Generated template for the ReviewModelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <div *ngIf="this.screen == 1 && this.show == 0">
      <img style="position: absolute; width: 330px;" src="{{urlimg}}/images/patterns/{{js.pattern.ruta}}">
      <img style="position: absolute; width: 330px;" src="{{urlimg}}/images/models/{{js.model.ruta}}">
    </div>
    <div *ngIf="this.screen == 2 && this.show == 0">
      <img style="position: absolute; width: 330px;" src="{{urlimg}}/images/patterns/{{js.pattern.ruta}}">
      <img style="position: absolute; width: 330px;" src="{{urlimg}}/images/models/{{js.model.ruta_atras}}">
    </div>
    <div *ngIf="this.show == 1">
      <img style="position: absolute; width: 330px;" src="{{urlimg}}/images/models/{{js.model.ruta_im1}}">
    </div>
    <div *ngIf="this.show == 2">
      <img style="position: absolute; width: 330px;" src="{{urlimg}}/images/models/{{js.model.ruta_im2}}">
    </div>
    <div *ngIf="this.show == 3">
      <img style="position: absolute; width: 330px;" src="{{urlimg}}/images/models/{{js.model.ruta_im3}}">
    </div>
  </ion-row>
  <ion-row class="row-button" style="margin-top: 100%;">
    <ion-col style="text-align: center;" col-4>
      <button class="button-save" ion-button type="button" (click)="back()" [disabled]="this.screen == 1 && this.show == 0">Frontal</button>
    </ion-col>
    <ion-col col-4>

    </ion-col>
    <ion-col style="text-align: center;" col-4>
      <button class="button-save" ion-button type="button" (click)="next()" [disabled]="this.screen == 2 && this.show == 0">Trasera</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="this.js.model.ruta_im1" (click)="change(1)" col-4>
      <img src="{{urlimg}}/images/models/{{js.model.ruta_im1}}">
    </ion-col>
    <ion-col *ngIf="this.js.model.ruta_im2" (click)="change(2)" col-4>
      <img src="{{urlimg}}/images/models/{{js.model.ruta_im2}}">
    </ion-col>
    <ion-col *ngIf="this.js.model.ruta_im3" (click)="change(3)" col-4>
      <img src="{{urlimg}}/images/models/{{js.model.ruta_im3}}">
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row class="row-button">
    <ion-col style="text-align: center;">
      <button class="button-save" ion-button type="button" (click)="sendNext(this.js.model)">Seleccionar</button>
    </ion-col>
  </ion-row>
</ion-footer>