page-thanks {
  .thanks-page{
    background-image: url('../assets/imgs/gracias-por-tu-compra.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .test{
    position: absolute;
    z-index: 10;
    left: 16px;
    top: 15px;
  }
  .col-trans{
    background: rgba(255,255,255,0.7);
  }
  .col {
    height: 118px;
  }
  .p-thanks{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }
  .p-desc{
    font-weight: bold;
    margin-top: 9%;
  }
  .p-finish{
    font-family: 'BarberFont';
    font-size: 40px;
    margin-top: 65%;
    color: #fff;
  }
  .img-visit{
    position: absolute;
    z-index: -2;
    width: 40%;
    top: 66%;
  }
  .button-save{
    text-align: center;
    background:  #fcc4c5;
    width: 66%;
    color: #000;
    box-shadow: none;
  }
  .scroll-content{
    overflow: hidden;
  }

}
