<!--
  Generated template for the ThanksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>

<div class="test">
  <img  style="width:62%;" src="../../assets/imgs/colibri.png">
</div>
<ion-content  class="thanks-page" padding>
  <ion-row style="margin-top: 2%;">
    <ion-col class="col-trans">
      <p class="p-thanks">RECIBIRAS UN EMAIL CON LA CONFIRMACIÓN DE TU PEDIDO</p>
      <p class="p-desc">TU PEDIDO SERÁ ENTREGADO DE {{this.start}} A {{this.end}} DÍAS</p>
    </ion-col>
  </ion-row>
  <ion-row class="row-button">
    <ion-col style="text-align: center;">
      <button class="button-save" ion-button type="button" (click)="confirm()">ACEPTAR</button>
    </ion-col>
  </ion-row>
  <img  class="img-visit" src="../../assets/imgs/visitanos.png">
  <ion-row>
    <p class="p-finish">Gracias por tu compra!</p>
  </ion-row>
</ion-content>
