page-home {
  [padding] .scroll-content {
   padding: 0px !important;
  }
  .test{
    position: absolute;
    z-index: 10;
    margin-left: 57%;
    top: -23px;
  }
  .img-fish{
    width: 100%;
  }
  .price{
    margin-top: -78%;
    margin-left: 14%;
    font-weight: bold;
    font-size: 17px;
  }
  .page-home{
    //background: #ffe6e6;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .images-uses{
    margin-top: 90%;
  }
  .progress-percentage-wrapper {
    position: absolute;
    /* margin: -11% 78%; */
    font-size: 50px;
    width: 100px;
    height: 52px;
    right: 0;
    top: -45px;
  }
  .progress-percentage {
    position: absolute;
    color: #bbb;
    width: 100%;
    top: 30%;
    font-size: 17px;
    margin-left: -22%;
  }
  .round{
    width: 55px !important;
    height: auto;
  }
  .ios  .progress-percentage-wrapper {
    position: absolute;
    /* margin: -11% 78%; */
    font-size: 50px;
    width: 100px;
    height: 52px;
    right: 0;
    top: -29px;
  }
  .md{
    .progress-percentage-wrapper {
      position: absolute;
      /* margin: -11% 78%; */
      font-size: 50px;
      width: 100px;
      height: 52px;
      right: 0;
      top: -45px;
    }
    .progress-percentage {
      position: absolute;
      color: #bbb;
      width: 100%;
      top: 30%;
      font-size: 17px;
      margin-left: -22%;
    }
    .round{
      width: 55px !important;
      height: auto;
    }
  }
  .timer{
    display: none;
  }
  .p-home{
    font-size: 162px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'DotFont';
    line-height: 60px;
  }
  .div-one{
    height: 45px;
    width: 45px;
    background: #91dbce;
    color: white;
    /* font-size: 20px; */
    position:relative;
    border-radius: 30px;
  }
  .span-one{
    text-align: center;
    position: absolute;
    margin-left: 22%;
    margin-top: -6%;
    font-size: 45px;
  }
  .p-select{
    font-size: 45px;
    color: white;
    margin-top: -1%;
    margin-left: -13%;
    margin-bottom: 4%;
  }
  .test-car{
    position: absolute;
    z-index: 10;
    left: 70%;
    top: 250px;
  }
  .p-checkout{
    position: absolute;
    margin-top: -59%;
    margin-left: 30%;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  .text-promo{
    text-align: center;
    font-size: 17px;
    margin-top: 0;
    font-weight: bold;
    color: #91dbce;
  }
}
