<ion-header>
  <ion-navbar style="text-align: center;" color="dark">
    <ion-title>
      CHIC MUA
    </ion-title>
    <div style="position: relative;">
      <div class="progress-percentage-wrapper timer">
        <div *ngIf="timerSeg < 10" class="progress-percentage ng-cloak">{{'0'+timerMin +':'+'0'+ timerSeg}}</div>
        <div *ngIf="timerSeg == 10 || timerSeg > 10 " class="progress-percentage ng-cloak">{{'0'+timerMin +':'+ timerSeg}}</div>
        <div *ngIf="timerMin == 10 || timerMin > 10 " class="progress-percentage ng-cloak">{{timerMin +':'+ timerSeg}}</div>
        <round-progress [max]="max"
                        [current]="timer"
                        [color]="'#45ccce'"
                        [background]="'#eaeaea'"
                        [radius]="100"
                        [stroke]="20"
                        [semicircle]="false"
                        [rounded]="true"
                        [clockwise]="true"
                        [responsive]="false"
                        [duration]="1000"
                        [animation]="'easeInOutQuart'"
                        [animationDelay]="100" class="round"></round-progress>
      </div>
    </div>
  </ion-navbar>
</ion-header>
<div class="test" *ngFor="let item of respuesta">
  <!--<img  src="../../assets/imgs/promo-del-mes.png">-->
  <img *ngIf="item.promo == 0" src="{{url_image}}/images/configuration/{{item.imagenchica}}">
  <p *ngIf="item.promo == 0" class="text-promo">{{item.nombre}}</p>
  <img *ngIf="item.promo != 0" src="{{url_image}}/images/offers/{{item.imagenchica}}" (click)="sendPromo(item)" >
  <p  *ngIf="item.promo != 0" class="text-promo">{{item.nombre}}</p>
</div>
<ion-content padding class="page-home" [ngStyle]="{'background-image':'url('+url_image+'/images/configuration/'+imageback}">
  <ion-grid>
    <!--<ion-row>
      <ion-col>
        <img src="../assets/imgs/banner.jpg">
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col col-6 *ngFor="let item of items" style="text-align:center;">
        <ion-card style="height: 100px;" (click)="sendCloth(item.id)">
          <p>{{item.name}}</p>
        </ion-card>
      </ion-col>
    </ion-row>-->
    <!--<ion-row>
      <ion-col>
        <p class="p-home">ARMA</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <p class="p-home">TU</p>
      </ion-col>
      <ion-col col-6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="p-home">PRENDA</p>
      </ion-col>
    </ion-row>
    <br>-->
    <ion-row>
      <!--<ion-col col-3>
        <div class="div-one">
          <span class="span-one">1</span>
        </div>
      </ion-col>-->
      <ion-col>
        <!--<p class="p-select">ELIGE:</p>-->
        <div *ngIf="this.check!=undefined" style="position: relative;">
          <div class="test-car">
            <img (click)="checkout()" style="width:65%;" src="../../assets/imgs/carrito.png">
            <p *ngIf="this.check!=undefined" class="p-checkout">{{this.check}}</p>
            <p *ngIf="this.check == undefined" class="p-checkout">{{0}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="images-uses">
      <ion-col *ngFor="let item of items" (click)="sendCloth(item)">
        <img *ngIf="item.name == 'Hombre'" class="img-fish" src="{{url_image+'/images/configuration/'+imageman}}">
        <p class="price" *ngIf="item.name == 'Hombre'">${{priceadult}}</p>
        <img *ngIf="item.name == 'Mujer'" class="img-fish" src="{{url_image+'/images/configuration/'+imagewoman}}">
        <p class="price" *ngIf="item.name == 'Mujer'">${{priceadult}}</p>
        <img *ngIf="item.name == 'Niño'"  class="img-fish" src="{{url_image+'/images/configuration/'+imageboy}}">
        <p class="price" *ngIf="item.name == 'Niño'">${{pricenino}}</p>
        <img *ngIf="item.name == 'Niña'" class="img-fish" src="{{url_image+'/images/configuration/'+imagegirl}}">
        <p class="price" *ngIf="item.name == 'Niña'">${{pricenino}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
