<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="{{urlimg}}/images/sizes/{{this.res.ruta}}">
</ion-content>
