// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: AppFont;
  src: url("../../assets/fonts/dotness.ttf");
}
@font-face {
  font-family: BarberFont;
  src: url("../../assets/fonts/Star-Strella.ttf");
}
@font-face {
  font-family: DotFont;
  src: url("../../assets/fonts/DotOutline.ttf");
}

.toast{
  .toast-wrapper {
    background: #91dbce;
    opacity: 0.8!important;
    border-radius: 5px;
    width: 50%;
    text-align: center;
  }
  .toast-message {
    font-size: 2.5rem;
    color: black;
    font-family: 'BarberFont';
  }
}
.title{
  font-family: 'AppFont' !important;
  text-align: center;
}
.toolbar-title-md {
  font-size: 3.0rem;
}
.toolbar-title-ios {
  font-size: 3rem;
  font-weight: 100;
}
ion-icon {
  &[class*="ico-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    width: 1.7em;
    height: 1.7em;
    background: transparent;
    display: block;
  }
  &[class*="homep"] {
    content: url(../assets/imgs/home.svg) !important;
    background: transparent;
  }
  &[class*="comp"] {
    content: url(../assets/imgs/compartir.svg) !important;
    background: transparent;
  }
  &[class*="perfil"] {
    content: url(../assets/imgs/perfil.svg) !important;
    background: transparent;
  }
  &[class*="tienda"] {
    content: url(../assets/imgs/tienda.svg) !important;
    background: transparent;
  }
  &[class*="phone"] {
    content: url(../assets/imgs/telefono.png) !important;
    background: transparent;
  }
  &[class*="whats"] {
    content: url(../assets/imgs/whatsapp.png) !important;
    background: transparent;
  }
  &[class*="clock"] {
    content: url(../assets/imgs/horario.png) !important;
    background: transparent;
  }
}
