<!--
  Generated template for the PromoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="{{img_url}}/images/offers/{{promo.imagengrande}}">
</ion-content>
