page-checkout {
  .button-register{
    float: right;
    background:  #fcc4c5;
    width: 66%;
    box-shadow: none;
  }
  .button-next{
    background:  #fcc4c5;
    width: 66%;
    box-shadow: none;
  }
  .button-store{
    background: #fcc4c5;
    width: 97%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 8px;
  }
  .text-dom{
    color:pink;
    font-weight: bold;
    font-size: 13px;
  }
  .button-adresses{
    width: 97%;
    background: white;
    color: gray;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid;
  }
  /*.button-card{
    border: solid 2px gainsboro;
    background: #eaeaea;
  }*/
  .button-card:first-child{
    border: solid 2px pink;
    background: pink;
    border-radius: 12px;
  }
  .button-card{
    border: solid 2px gainsboro;
    background: #eaeaea;
    border-radius: 12px;
  }


  .icon-trash{
    float: right;
  }
  .title-paym{
    font-weight: bold;
  }
  
  .center-content{
    margin-top: auto;
    margin-bottom: auto;
  }
  .select-md,.select-ios{
    padding: unset;
  }
  ion-select{
    max-width: 100%;
  }
  .item-md,.item-ios{
    padding: unset;
  }
  .content-center{
    margin-top: auto;
    margin-bottom: auto;
  }
}
