<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-list>
   <ion-item *ngFor="let item of items">
       <ion-row style="height: 50px;">
           <ion-col col-3>
               <div style="">
                   <img style="position: absolute; width: 70%;" src="{{urlimg}}/images/patterns/{{item.imagen_patron}}">
                   <img style="position: absolute; width: 70%;" src="{{urlimg}}/images/models/{{item.imagen_modelo}}">
               </div>
           </ion-col>
           <ion-col class="center-content" col-6>
               <p>{{item.modelo}}/{{item.talla}} <span>${{item.precio_linea}}</span></p>
           </ion-col>
           <ion-col class="content-center" col-3>
               <ion-icon class="icon-trash" name="trash" (click)="deline(item.linea)"></ion-icon>
           </ion-col>
       </ion-row>
   </ion-item>
     <ion-item>
         <ion-label floating>Cupon</ion-label>
         <ion-input type="text" [(ngModel)]="cupon" (ionBlur)="test()"></ion-input>
     </ion-item>
 </ion-list>
  <ion-grid>
      <ion-row>
          <ion-col text-center>
              <span class="title-paym">FORMA DE ENVÍO</span>
          </ion-col>
      </ion-row>
   <ion-row>
       <ion-col style="text-align: center;">
           <button class="button-store" *ngIf="addressescount == 0" ion-button type="submit" (click)="nextCheckout(null,1)">Recoger en tienda (sin costo)</button>
           <button class="button-adresses" *ngIf="addressescount == 0" ion-button type="submit" (click)="sendAddAddress()">Domicilio (Da una dirección)</button>
           <button class="button-adresses" *ngIf="addressescount != 0" ion-button type="submit" (click)="nextCheckout(null,1)">Recoger en tienda (sin costo)</button>
       </ion-col>
   </ion-row>
      <ion-row>
          <!--<ion-col col-6>
              <p class="p-subtitle">Selecciona la dirección de envio</p>
          </ion-col>
          <ion-col col-6>
              <button class="button-register " ion-button type="button" (click)="sendAddAddress()">Nuevo</button>
          </ion-col>-->
          <ion-col col-12>
              <p *ngIf="addressescount != 0" class="text-dom">Domicilio</p>
              <ion-list>
                  <ion-item class="item-ios button-card" *ngFor="let item of addresses">
                      <span style="margin-left: 5%" (click)="nextCheckout(item,2)">{{ item.nickname }}</span>
                      <ion-icon class="icon-trash" name="trash" (click)="deleteAddress(item.id)"></ion-icon>
                  </ion-item>
              </ion-list>
          </ion-col>
          <ion-col style="text-align: center;">
              <button class="button-adresses" *ngIf="addressescount != 0" ion-button type="submit" (click)="sendAddAddress()">Agregar otra dirección</button>
          </ion-col>
      </ion-row>

    <ion-row>
        <ion-col col-5>

        </ion-col>
        <!-- comente esta seccion por que cambio esta vista -->
      <!--<ion-col col-5>
          <ion-item>
              <ion-label floating>Agregar Cupon</ion-label>
              <ion-input type="text" [(ngModel)]="cupon" (ionBlur)="test()"></ion-input>
          </ion-item>
          <ion-item>
              <ion-select [(ngModel)]="delivery" (ionChange)="test()">
                  <ion-option value="1">En tienda (sin costo)</ion-option>
                  <ion-option value="2">Domicilio</ion-option>
                  <ion-option value="3" disabled>Seleccionar</ion-option>
              </ion-select>
          </ion-item>
          <button *ngIf="this.delivery == 1" class="button-next" ion-button type="submit" (click)="store()"> TIENDA </button>
      </ion-col>-->
      <ion-col style="text-align: right;" col-7>
          <p>Subtotal: ${{subtotal}}</p>
          <p>Descuento: ${{discount}}</p>
          <p *ngIf="customerDiscount != 0">Descuento Cliente:${{customerDiscount}}</p>
          <p>Envío: ${{coust}}</p>
          <p>Total: ${{total}}</p>
      </ion-col>
    </ion-row>
      <!--<ion-row>
          <ion-col col-12>
              <p>¿Te invito un amigo?</p>
              <p>Anota su email para que el pueda recibir un cupón de descuento por tu compra</p>
          </ion-col>
          <ion-col col-12>
              <ion-item>
                  <ion-label floating>Email de un amigo</ion-label>
                  <ion-input type="text" [(ngModel)]="cupon"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>-->
      <!--<ion-row *ngIf="delivery == 2">-->
      <ion-row *ngIf="delivery != 2 ">
          <ion-col style="text-align: center;">
              <button class="button-next" ion-button type="submit" (click)="nextCheckout()"> SIGUIENTE </button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
