page-visit {
  .p-home{
    font-size: 155px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'DotFont';
    line-height: 60px;
  }
  .p-home-sub{
    margin-left: -3%;
  }
  .img-map{
    margin-top: 6%;
  }
  .col-hours{
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 7%;
  }
  .row-visit{
    margin-top: -9%;
  }
  .img-flamin{
    position: absolute;
    width: 100%;
    margin-left: -31%;
  }
  .col-social{
    text-align: center;
    margin-left: 15%;
    margin-top: -6%;
  }
}
