<!--
  Generated template for the VisitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-12>
      <p class="p-home">VISIT<span class=" p-home p-home-sub">ANOS</span></p>
    </ion-col>
    <br>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <img  class="img-map" src="https://maps.googleapis.com/maps/api/staticmap?size=400x250&markers=19.339892,-99.203687&zoom=18&key=AIzaSyCztCuGrBdTescmdGtjZBFVvGTD9xps8eY"/>
      <p style="font-size: 16px;">Durango 25 Col.Progreso Tizapán, México, CDMX</p>
    </ion-col>
  </ion-row>
  <ion-row class="row-visit">
    <ion-col class="col-hours" col-2>
      <ion-icon name="ico-clock"></ion-icon>
    </ion-col>
    <ion-col col-10>
      <p style="font-size: 16px;">Lunes a Sábado de 10:00 am a 7:30 pm </p>
    </ion-col>
  </ion-row>
  <ion-row class="row-visit">
    <ion-col class="col-hours" col-2>
      <ion-icon name="ico-phone"></ion-icon>
    </ion-col>
    <ion-col col-10>
      <p style="font-size: 16px;">(0155)54462098</p>
    </ion-col>
  </ion-row>
  <ion-row class="row-visit">
    <ion-col class="col-hours" col-2>
      <ion-icon name="ico-whats"></ion-icon>
    </ion-col>
    <ion-col col-10>
      <p style="font-size: 16px;">5521067726</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <img class="img-flamin" src="../../assets/imgs/flamingo.png">
    </ion-col>
    <ion-col class="col-social" col-8>
      <p>SIGUENOS</p>
      <img style="width: 15%;margin-right: 15%;" src="../../assets/imgs/facebook.png">
      <img  style="width: 29%;" src="../../assets/imgs/instagram.png">
      <p>TENEMOS ESTACIONAMIENTO</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
