page-share {
  .scroll-content {
    overflow-y: hidden;
  }
  .share-page {
    //background-image: url('../assets/imgs/background-elige-tu-talla.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffe6e6;
    //background-color: #222222;
  }
  .p-finish{
    font-family: 'DotFont';
    font-size: 117px;
    margin-top: 0%;
    line-height: 52%;
    /* text-shadow: 2px 2px 2px #000000; */
  }
}
