<!--
  Generated template for the SharePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="share-page" padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <p class="p-finish">Gracias por compartir con tus amigos</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img style="margin-top: -39%;" src="../../assets/imgs/chic-mua-logo.png">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
