<!--
  Generated template for the AddCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <ion-title>CHIC MUA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf="screen == 1">
    <ion-row>
      <ion-col>
        <img *ngIf="type == 'undefined'" src="../../assets/imgs/visa.png">
        <img *ngIf="type == 'American Express'" src="../../assets/imgs/american-express.png">
        <img *ngIf="type == 'Mastercard'" src="../../assets/imgs/mastercard.png">
        <img *ngIf="type == 'Visa'" src="../../assets/imgs/visa.png">
        <p class="number-card-text">{{numberCard}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-nav" col-2>
        <img style="transform: rotate(180deg);" src="../../assets/imgs/boton-2.png">
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-label floating>Ingresa el numero de tarjeta</ion-label>
          <ion-input type="text" maxlength="16" [(ngModel)]="numberCard" (ionChange)="getCardType($event)" ion-input-scroll-into-view></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="col-nav" (click)="next()" col-2>
        <img style="transform: rotate(180deg);" src="../../assets/imgs/boton.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="screen == 2">
    <ion-row>
      <ion-col>
        <img *ngIf="type == 'undefined'" src="../../assets/imgs/visa.png">
        <img *ngIf="type == 'American Express'" src="../../assets/imgs/american-express.png">
        <img *ngIf="type == 'Mastercard'" src="../../assets/imgs/mastercard.png">
        <img *ngIf="type == 'Visa'" src="../../assets/imgs/visa.png">
        <p class="number-card-text">{{numberCard}}</p>
        <p class="name-card">{{nameProp}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-nav" (click)="back()" col-2>
        <img src="../../assets/imgs/boton.png">
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-label floating>Ingresa nombre del propietario</ion-label>
          <ion-input type="text" [(ngModel)]="nameProp" ion-input-scroll-into-view></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="col-nav" (click)="next()" col-2>
        <img style="transform: rotate(180deg);" src="../../assets/imgs/boton.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="screen == 3">
    <ion-row>
      <ion-col>
        <img *ngIf="type == 'undefined'" src="../../assets/imgs/visa.png">
        <img *ngIf="type == 'American Express'" src="../../assets/imgs/american-express.png">
        <img *ngIf="type == 'Mastercard'" src="../../assets/imgs/mastercard.png">
        <img *ngIf="type == 'Visa'" src="../../assets/imgs/visa.png">
        <p class="number-card-text">{{numberCard}}</p>
        <p class="name-card">{{nameProp}}</p>
        <p class="expiration">{{expiration_m}}/{{expiration_a}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-nav" (click)="back()" col-2>
        <img src="../../assets/imgs/boton.png">
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label floating>(MM)</ion-label>
          <ion-input type="text" maxlength="2" [(ngModel)]="expiration_m" ion-input-scroll-into-view></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item class="item-slash">
          <p style="text-align: center;">/</p>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label floating>(AA)</ion-label>
          <ion-input type="text" maxlength="2" [(ngModel)]="expiration_a" ion-input-scroll-into-view></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="col-nav" (click)="next()" col-2>
        <img style="transform: rotate(180deg);" src="../../assets/imgs/boton.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="screen == 4">
    <ion-row>
      <ion-col>
        <img src="../../assets/imgs/tarjeta-atras.png">
        <p class="cvv">{{cvv}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-nav" (click)="back()" col-2>
        <img src="../../assets/imgs/boton.png">
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-label floating>Clave de seguridad</ion-label>
          <ion-input type="number" [(ngModel)]="cvv" ion-input-scroll-into-view></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="col-nav" *ngIf="this.customerOpen == false" (click)="next()" col-2>
        <img style="transform: rotate(180deg);" src="../../assets/imgs/boton.png">
      </ion-col>
      <ion-col class="col-nav-form-open" *ngIf="this.customerOpen != false"  col-2>
        <img src="../../assets/imgs/boton-2.png">
      </ion-col>
    </ion-row>
    <ion-row style="display: none;">
      <form action="/save_customer_card" method="POST" id="customer-form">
        <input type="hidden" name="token_id" id="token_id"/>
        <fieldset>
          <legend>Datos del cliente</legend>
          <p>
            <label>Nombre</label>
            <input type="text" size="20" value="{{nameProp}}" autocomplete="on" name="client_name" ion-input-scroll-into-view/>
          </p>
          <p>
            <label>Correo Electr&oacute;nico</label>
            <input type="text" size="20" autocomplete="on" value="prueba@yopmail.com" name="cliente_email" ion-input-scroll-into-view/>
          </p>
        </fieldset>
        <fieldset>
          <legend>Datos de la tarjeta</legend>
          <p>
            <label>Nombre</label>
            <input type="text" size="20" autocomplete="off" value="{{nameProp}}"
                   data-openpay-card="holder_name" ion-input-scroll-into-view/>
          </p>
          <p>
            <label>N&uacute;mero</label>
            <input type="text" size="20" autocomplete="off" value="{{numberCard}}"
                   data-openpay-card="card_number" ion-input-scroll-into-view/>
          </p>
          <p>
            <label>CVV2</label>
            <input type="text" size="4" autocomplete="off" value="{{cvv}}"
                   data-openpay-card="cvv2" ion-input-scroll-into-view/>
          </p>
          <p>
            <label>Fecha de expiraci&oacute;n (MM/YY)</label>
            <input type="text" size="2" data-openpay-card="expiration_month" value="{{expiration_m}}" ion-input-scroll-into-view/>
            <input type="text" size="2" data-openpay-card="expiration_year" value="{{expiration_a}}" ion-input-scroll-into-view/>
          </p>
        </fieldset>
        <input type="submit" id="save-button" value="Pagar"/>
      </form>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="this.customerOpen != false" style="text-align: center;">
        <button class="button-register save" color="secondary" ion-button type="submit" (click)="addCardOpen()">Guardar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="screen == 5 && this.customerOpen == false">
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-nav-form" (click)="back()" col-2>
        <img src="../../assets/imgs/boton.png">
      </ion-col>
      <ion-col text-center col-8>
        <p class="address">Dirección del propietario</p>
        <ion-item>
          <ion-label floating>Estado</ion-label>
          <ion-input type="text" [(ngModel)]="state" ion-input-scroll-into-view></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Ciudad</ion-label>
          <ion-input type="text" [(ngModel)]="city" ion-input-scroll-into-view></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Municipio</ion-label>
          <ion-input type="text" [(ngModel)]="vicinity" ion-input-scroll-into-view></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Calle</ion-label>
          <ion-input type="text" [(ngModel)]="street" ion-input-scroll-into-view></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Colonia</ion-label>
          <ion-input type="text" [(ngModel)]="colony" ion-input-scroll-into-view></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Codigo Postal</ion-label>
          <ion-input type="number" [(ngModel)]="postal_code" ion-input-scroll-into-view></ion-input>
        </ion-item>
        <ion-col style="text-align: center;">
          <button class="button-register save" color="secondary" ion-button type="submit" (click)="addCard()">Guardar</button>
        </ion-col>
      </ion-col>
      <ion-col class="col-nav-form"  col-2>
        <img src="../../assets/imgs/boton-2.png">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
