page-add-card {
  .col-nav{
    text-align: center;
    margin-top: auto;
    margin-left: auto;
  }
  .number-card-text{
    position: absolute;
    margin-top: -30%;
    margin-left: 11%;
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px #000000;
  }
  .item-slash{
    margin-top: 50%;
    text-align: center;
  }
  .name-card{
    position: absolute;
    margin-top: -16%;
    margin-left: 4%;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000000;
  }
  .expiration{
    position: absolute;
    margin-top: -16%;
    margin-left: 77%;
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
  }
  .cvv{
    position: absolute;
    margin-top: -29%;
    margin-left: 62%;
    font-size: 14px;
    color: black;
  }
  .col-nav-form{
    text-align: center;
    margin-left: auto;
  }
  .col-nav-form-open{
    text-align: center;
    margin-left: auto;
    margin-top: auto;
  }
  .button-register{
    // float: right;
    background:  #fcc4c5;
    width: 100%;
    box-shadow: none;
    margin-top: 15%;
  }
  .address{
    font-size: 16px;
    margin-top: 5%;
  }
   [padding] .scroll-content {
    padding: 0px !important;
  }
  .item-md {
     padding-left: 0px;
  }
}
